@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  img {
    max-width: 100%;
  }
}
@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
    --background: 38, 100%, 96%;
    --foreground: 37, 49%, 8%;
    --card: 340, 100%, 90%; /* TODO */
    --card-foreground: 340, 100%, 90%; /* TODO */
    --popover: 39, 99%, 54%; 
    --popover-foreground: 37, 49%, 8%;
    --primary: 39, 99%, 54%;
    --primary-foreground: 37, 49%, 8%;
    --secondary: 340, 100%, 90%;
    --secondary-foreground: 340, 100%, 90%; /* TODO */
    --muted: 340, 100%, 90%; /* TODO */
    --muted-foreground: 340, 100%, 90%; /* TODO */
    --accent: 39, 99%, 90%;
    --accent-foreground: 39, 99%, 54%;
    --destructive: 340, 100%, 90%; /* TODO */
    --destructive-foreground: 340, 100%, 90%; /* TODO */
    --border: 39 99.1% 49%; /* TODO */
    --input: 340, 100%, 90%; /* TODO */
    --ring: 340, 100%, 90%; /* TODO */
    --chart-1: 340, 100%, 90%; /* TODO */
    --chart-2: 340, 100%, 90%; /* TODO */
    --chart-3: 340, 100%, 90%; /* TODO */
    --chart-4: 340, 100%, 90%; /* TODO */
    --chart-5:340, 100%, 90%; /* TODO */
    --radius: 0.5rem;
    --hover: 39 99.1% 68%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --hover: 39 99.1% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
